$website-background: #074966;
$overflow: hidden;
$tech-mono: 'Share Tech Mono', monospace;
$gaegu: 'Gaegu', cursive;
$varela-round: 'Varela Round', sans-serif;
$courgette: 'Courgette', cursive;
$bree-serif: 'Bree Serif', serif;
$font-color: #C6E4E6;
$hammersmith: 'Hammersmith One', sans-serif;